<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                <img th:src="@{/images/Logo.jpg}" alt="NebuloHub Logo">
                <span th:text="#{header.brand}">NebuloHub</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/posts}" th:text="#{header.posts}">Posts</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Language
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                            <li><a class="dropdown-item" href="?lang=en" th:text="#{header.switch.english}">English</a></li>
                            <li><a class="dropdown-item" href="?lang=pt" th:text="#{header.switch.portuguese}">Português</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span sec:authentication="principal.actualUsername">Username</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                            <li>
                                <a class="dropdown-item"
                                   th:href="@{|/users/${#authentication.principal.id}|}"
                                   th:text="#{header.myProfile}">
                                    My Profile
                                </a>
                            </li>
                            <li><hr class="dropdown-divider" style="border-top-color: var(--nh-border);"></li>
                            <li>
                                <form th:action="@{/logout}" method="post" class="d-inline">
                                    <button type="submit" class="dropdown-item" th:text="#{header.logout}">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}" class="btn btn-outline-light me-2" th:text="#{header.login}">Login</a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a th:href="@{/register}" class="btn btn-primary" th:text="#{header.register}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

</body>
</html>