<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="commentList(comments)" class="post-comments">

    <div th:each="comment : ${comments}" class="comment-item">
        <p class="mb-0">
            <a th:href="@{|/users/${comment.userId}|}" class="fw-bold text-decoration-none" th:text="${comment.username}">username</a>:

            <span class="formatted-text" th:text="${comment.content}">This is the comment text.</span>
        </p>
    </div>

</div>

</body>
</html>